html{height:100%;}


.aside
{ align-content: center;
font-family:'Source Sans Pro', sans-serif;
height:990px;
width:360px;
background:#080808;
cursor:pointer;
list-style-type:none;
color:#f6fafa;

}

ul li
{
list-style-type:none;
text-align: center;
padding:0px;
margin:0px;
border-top: 20px;
color:#f6fafa;
padding:20px;
}

